
// couleurs
$vert: #84C04C;
$orange: #F28435;
$rouge: #f23535;
$background-color: #F5EFE1;
$text-color: #472E0B;
$gris: #94A3B8;
$blanc: #FFFFFF;
$noir: #000000;
$remplissage: rgba(#F2B55B, 0.25);

// texte
$police: 'inter', sans-serif;
$titre: 1.9rem;
$texte-basique: 1.1rem;
$texte-petit: 0.9rem;
$bouton: 1.4rem;

// images
@mixin logo {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

// mascottes
@mixin mascotte_1 {
    width: 90px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@mixin mascotte_heureuse {
    width: 175px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@mixin mascotte_assise {
    width: 175px;
    height: auto;
    display: block;
    margin: 0 auto;
}

//boutons
@mixin bouton-vert {
    background-color: $vert;
    color: $blanc;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    font-size: $bouton;
    font-family: $police;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: darken($vert, 15%);
        text-decoration: underline;
    }
}

@mixin bouton-vert-petit {
    background-color: $vert;
    color: $blanc;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    font-size: $texte-petit;
    font-family: $police;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: darken($vert, 15%);
        text-decoration: underline;
    }
}

@mixin bouton-orange {
    background-color: $orange;
    color: $blanc;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: $bouton;
    font-family: $police;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: darken($orange, 15%);
        text-decoration: underline;
    }
}

@mixin bouton-orange-petit {
    background-color: $orange;
    color: $blanc;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    font-size: $texte-petit;
    font-family: $police;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: darken($orange, 15%);
        text-decoration: underline;
    }
}

@mixin bouton-orange-select {
    background-color: $orange;
    color: $blanc;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: $texte-petit;
    font-family: $police;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: darken($orange, 15%);
        text-decoration: underline;
    }
    &:active {
        transform: scale(0.97);
    }
    &.active {
        background-color: $vert;
    }
}

@mixin bouton-deconnection {
    background-color: $rouge;
    color: $blanc;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    font-size: $texte-petit;
    font-family: $police;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: darken($rouge, 15%);
        text-decoration: underline;
    }
}