// layout
@import "layout";

// pages
@import "pages/home";
@import "pages/formulaire";
@import "pages/connexion";

// composants
@import "composants/header.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}