.body-connexion {
    background-color: $background-color;
    width: 100%;
    height: 100vh;
    text-align: center;

    .logo {
        @include logo;
    }
    .titre-logo {
        text-align: center;
        color: $text-color;
        font-family: $police;
        font-size: $titre;
    }
}

.btn-vert {
    @include bouton-vert;
    display: inline-block;
}