.body-connexion {
    background-color: $background-color;
    width: 100%;
    height: 100vh;

    .logo {
        width: 400px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .titre-logo {
        text-align: center;
        color: $text-color;
        font-family: $police;
        font-size: $titre;
    }
}