.body-connexion {
    background-color: $background-color;
    width: 100%;
    height: 100%;
    text-align: center;

    .logo {
        @include logo;
        padding: 50px 2rem 2rem 2rem;
    }
    .titre-logo {
        text-align: center;
        color: $text-color;
        font-family: $police;
        font-size: $titre;
        margin-top: -20px;
    }
}

.mascot-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

.speech-bubble {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    align-self: end;
    background-color: $orange;
    color: $blanc;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 8px;
    font-size: $texte-basique;
    font-family: $police;
    width: auto;
    margin-right: -2rem;
}

.mascot {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    align-self: start;
    @include mascotte_1;
    transform: scaleX(-1);
    margin-left: -2rem;
}

.btn-vert {
    @include bouton-vert-petit;
    display: inline-block;
}

.container-orange {
    background-color: $remplissage;
    color: $text-color;
    font-family: $police;
    padding: 4rem 2em 4rem 2em;
    border: 1.5px solid $orange;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: -50px 0 50px 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-field {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid $gris;
    font-size: $texte-petit;
    font-family: $police;
    width: 300px;
}

.texte-bas {
    font-size: $texte-petit;
    color: $text-color;
    font-weight: bold;
    text-decoration: underline;
}