.quiz-page {
    background-color: $background-color;
    min-height: 100vh;
    font-family: $police;
    padding: 100px 0 80px 0;
}

.main-content {
    padding: 20px;
}

.quiz-card {
    background-color: $blanc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

h2 {
    color: $noir;
    font-size: $texte-basique;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 900;
}

.question-block {
    margin-bottom: 25px;

    p {
        font-size: $texte-petit;
        margin-bottom: 10px;
        color: $noir;
    }
}

.btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.choice-btn {
    @include bouton-orange-select;
    border: none;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    font-size: $texte-petit;

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    input {
        margin-right: 8px;
    }
}

.slider {
    width: 100%;
    accent-color: $vert;
}

.slider-value {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.footer-step {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

.mascot-img {
    width: 60px;
}

.btn-next {
    @include bouton-vert;
    padding: 10px 30px;
    font-size: $texte-petit;
    border-radius: 8px;
}